body {
  background-color: #96cdd7;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.backgroundImage {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/164/433/original/Meteo_backround_image.jpg?1745981168");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

footer {
  color: black;
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  padding: 2px;
  background-color: #d0e0ee;
  border-radius: 5px;
  opacity: 0.7;
}

a {
  color: #0458ce;
}
.weather-app {
  background: linear-gradient(#82d7e6, #4048c4);
  color: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(242, 241, 244, 0.08);
  background-size: auto;
  opacity: 0.8;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
.app-logo {
  max-width: 150px;
  max-height: 100px;
  position: relative;
  border-radius: 10px;
  margin-bottom: 10px;
}

.search-bar {
  background-color: #d0e0ee;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  padding: 18px;
  width: 70%;
}

.search-button {
  background-color: #0458ce;
  font-size: 16px;
  padding: 20px 30px;
  margin-left: 20px;
  border: none;
  border-radius: 10px;
  color: white;
  transition: 300ms ease-in-out;
}
.search-button:hover {
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 30px;
  margin-left: 20px;
  border-radius: 10px;
  color: #0458ce;
  cursor: pointer;
  border-color: #0458ce;
  border-style: solid;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.line {
  margin: 50px 0;
  color: white;
  opacity: 0.5;
}
.current-city {
  color: white;
  font-weight: bolder;
  margin: none;
  font-size: 38px;
  line-height: 48px;
}
.current-weather p {
  opacity: 0.8;
  line-height: 1.5;
  font-size: 16px;
}
.yellow {
  color: rgb(253, 232, 0);
  font-weight: bolder;
}

.current-temperature-data-container {
  display: flex;
  align-items: center;
}

.degrees {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  line-height: 1;
  margin-left: 10px;
  align-self: center;
}
.emojie {
  font-size: 44px;
  margin-right: 5px;
}

.unit {
  margin-top: 50px;
  font-size: 28px;
  align-self: flex-start;
  margin-left: 5px;
  font-weight: bold;
}

.feels-like {
  opacity: 0.8;
  line-height: 1.5;
  font-size: 16px;
  margin-top: -15px;
}
